# App
apps/dashboard/.vite/
apps/dashboard/test-results/
apps/api/.turbo/
**/.playwright/
**/*.tsbuildinfo

# Node
node_modules/
.bun/
dist/
build/
coverage/
playwright-report/
test-results/

# Rust
**/.cargo/
target/
debug/
release/

# Generic
*.log
*.tmp

# Gcloud
gha-creds-*.json

# OS
*.swp
.env
.env.*
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Agents
.codex
.agent/tmp
